[submodule "MKDocsTeamProject"]
	path = MKDocsTeamProject
	url = https://github.com/Jivandhamala22/MKDocsTeamProject.git
[submodule "Procedural-Shaders"]
	path = Procedural-Shaders
	url = https://github.com/saeedelsayed/Procedural-Shaders.git
